body
{
    background: #1f1f1f;
    color: #fff;
    font-family: 'Marmelad', sans-serif;
}

.bgrd
{
    background: #1f1f1f;
}

/*
For the sticky footer
*/

.sticky-footer-body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.sticky-footer-section
{
    flex: 1;
    margin: 0;
}

/*
End of sticky footer style
*/

a, a:hover
{
    text-decoration: none;
    color: #fff;
}

.simple-button, .simple-button:hover
{
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 8px 12px;
}

.padding-cntr
{
    padding: 10% 5% 0% 5%;
}

.invitation
{
    font-size: 50px;
}

.invitation-btn
{
    font-size: 20px;
    padding-top: 3%;
}

.no-border
{
    border-width: 0px;
}

input[type = text]
{
    background: #1f1f1f;
    color: #fff;
    border-width: 0px;
}

.input-count-mines
{
    font-size: 35px;
    width: 2em;
    text-align: center;
}

.td-square
{
    height: 3em;
    width: 3em;
}

.brdr
{
    border: 1px solid #fff;
}

.interface-icon
{
    width: 8vh;
    height: 8vh;
}

#mine
{
    width: 16vh;
    height: 16vh;
}

#logo
{
    font-size: 7vh;
}

.vpc
{
    display: flex;
    align-items: center;
}

.vpb
{
    display: flex;
    align-items: flex-end;
}