<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Night Minesweeper</title>
</head>
<body class="sticky-footer-body">
<section class="sticky-footer-section">
    <div align="center" style="font-size: 40px">
        Try don't die
    </div>
</section>
<footer>
    Night Minesweeper
</footer>
</body>
</html>