<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Night Minesweeper</title>
</head>
<body class="sticky-footer-body">
<nav class="navbar navbar-expand-md">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-item dropdown-toggle" href="#" data-toggle="dropdown">Lang</a>
            <ul class="dropdown-menu" style="background: 1f1f1f;">
                <li><a class="nav-item nav-link link-white" href="?lang=en">English</a></li>
                <li><a class="nav-item nav-link link-white" href="?lang=ru">Russian</a></li>
            </ul>
        </li>
    </ul>
</nav>
<section class="sticky-footer-section">
        <div align="center" style="font-size: 50px; padding-top: 10%; padding-left: 5%; padding-right: 5%">
            You're a minesweeper. No light, no map. Absolute darkness. Your dance with death begins.
            <div align="center" style="font-size: 20px; padding-top: 3%">
                <a class="simple-button" href="/game">Start</a>
            </div>
        </div>
</section>
<footer>
    Night Minesweeper, 2018
</footer>
</body>
</html>