<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Night Minesweeper</title>
</head>
<body class="sticky-footer-body">
{{> nav}}
<section class="sticky-footer-section">
        <div class="invitation padding-cntr" align="center">
            {{#i18n}}promo{{/i18n}}
            <div class="invitation-btn" align="center">
                <a class="simple-button" href="/startgame">{{#i18n}}btn.start{{/i18n}}</a>
            </div>
        </div>
</section>
<footer class="pb-3 pl-4">
    Night Minesweeper, 2018
</footer>
</body>
</html>