<nav class="navbar navbar-expand-md pt-3 pl-4 vpb">
    <ul class="navbar-nav mr-auto vpb">
        <a id="logo" class="mx-3" href="/">NiMi</a>
        <li class="nav-item dropdown">
            <a class="nav-item dropdown-toggle" href="#" data-toggle="dropdown"><img class="interface-icon" src="/images/lang.svg" alt="Lang"></a>
            <ul class="dropdown-menu bgrd">
                <li><a class="nav-item nav-link link-white" href="?lang=en">English</a></li>
                <li><a class="nav-item nav-link link-white" href="?lang=ru">Russian</a></li>
            </ul>
        </li>
        <a id="htp" class="mx-3" href="/howtoplay">{{#i18n}}howtoplay{{/i18n}}</a>
    </ul>
</nav>