<nav class="navbar navbar-expand-md pt-3 pl-4">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-item dropdown-toggle" href="#" data-toggle="dropdown"><img src="/images/lang.png" alt="Lang"></a>
            <ul class="dropdown-menu bgrd">
                <li><a class="nav-item nav-link link-white" href="?lang=en">English</a></li>
                <li><a class="nav-item nav-link link-white" href="?lang=ru">Russian</a></li>
            </ul>
        </li>
    </ul>
</nav>